<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
  <div class="step1-heading "><h3>Welcome back to Sampleroo</h3></div>
  <div class="font-weight-bold mb-3">Sign in to modify your choise of products</div>
  <div class="border rounded col-4">
    <div class="mx-auto d-flex flex-column p-3">
      <div class="text-center mb-3"><h4>Login</h4></div>
      <input class="mb-3 p-2" placeholder="Email">
      <input class="mb-3 p-2" placeholder="Password">
      <div class="mb-3 d-flex"><div class="ml-auto cursor-pointer">Forget Password?</div></div>
      <app-button class="mb-3 text-center" [text]="'Login'" ></app-button>
      <app-button class="mb-5 text-center" [text]="'Continue with Facebook'" ></app-button>
      <app-button class="mb-3 text-center" [text]="'Get Started'" [routerLink]="'/get-started'" ></app-button>

    </div>
  </div>
</div>
