@import 'src/colors';

.product-category-card {
  border: 1px solid $grey;
  width: 120px;
  height: 120px;
  position: relative;
}

.product-category-card-active {
  border: 1px solid $blue;
}

.product-name {
  font-size: 12px;
  color: $grey;
}

.product-name-active {
  color: $blue;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $blue;
  opacity: 0.5;
}
