
<div *ngIf="currentStep == 0" class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
  <div class="mb-4 text-uppercase getstarted-title"><h3>Get Free Samples from your favorite brands</h3></div>
  <div class="mb-3">Sample products from favorite brands absolutely free</div>
  <app-button [text]="'Get Started'" (click)="gotoStep(1)" ></app-button>
</div>

<div *ngIf="currentStep > 0 && currentStep <= totalSteps" class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
  <div *ngIf="currentStep == 1" class="step1-heading mb-3"><h3>What Products are you interested sampling?</h3></div>
  <div *ngIf="currentStep > 1" class="step1-heading mb-3"><h3>Tell us a little more</h3></div>
  <div class="mb-3"><app-step-indicator [totalSteps]="totalSteps+3" [currentStep]="currentStep" ></app-step-indicator></div>
  <div class="mb-3"><app-product-category-list [list]="productCategories" (selectedProducts)="setSelectedProducts($event)" ></app-product-category-list></div>
  <app-button [text]="'Next Step'" (click)="gotoStep(currentStep+1)" ></app-button>
</div>

<div *ngIf="currentStep == totalSteps+1 " class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
  <div class="step1-heading mb-3"><h3>Choose your favorite brands</h3></div>
  <div class="mb-3"><app-step-indicator [totalSteps]="totalSteps+3" [currentStep]="currentStep" ></app-step-indicator></div>
  <div class="mb-3"><app-product-category-list [list]="brands" (selectedProducts)="setSelectedBrands($event)" ></app-product-category-list></div>
  <app-button [text]="'Next Step'" (click)="gotoStep(currentStep+1)" ></app-button>
</div>

<div *ngIf="currentStep == totalSteps+2 " class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
  <div class="step1-heading mb-3"><h3>Almost Done</h3></div>
  <div class="mb-3"><app-step-indicator [totalSteps]="totalSteps+3" [currentStep]="currentStep" ></app-step-indicator></div>
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="d-flex flex-column w-100">
          <div class="col-4 mx-auto"><input class="mb-3 p-2" placeholder="Email Address" [(ngModel)]="email" ></div>
          <div class="col-4 mx-auto"><input class=" mb-3 p-2" placeholder="Password" [(ngModel)]="password" ></div>
          <div class="col-4 mx-auto">
            <select [(ngModel)]="age" class="mb-3 p-2" >
              <option selected value="Age">Age</option>
              <option *ngFor="let age of ageArr" value="{{age}}">{{age}}</option>
            </select>
          </div>
          <div class="d-flex">
            <div class="d-flex align-items-md-baseline"><input [(ngModel)]="aggreed" id="terms_aggrement" type="checkbox" ><label class="step1-heading aggrlabelwidth " for="terms_aggrement"> I agree the terms and conditions of sampleroo and i am of the age 18 and older</label></div>
            <app-button class="ml-auto" [disabled]=" ! (email && password && age !== 'Age' && aggreed) " [text]="'Next Step'" (click)="gotoStep(currentStep+1)" ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="currentStep == totalSteps+3 " class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
  <div class="step1-heading mb-3"><h3>Ship Products to</h3></div>
  <div class="mb-3"><app-step-indicator [totalSteps]="totalSteps+3" [currentStep]="currentStep" ></app-step-indicator></div>
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="row">
          <div class="col-6 ">
            <div class="w-100"><input class=" w-100 mb-3 p-2" placeholder="First Name" [(ngModel)]="firstName" ></div>
            <div class="w-100"><input class=" w-100 mb-3 p-2" placeholder="Address" [(ngModel)]="address" ></div>
            <div class="d-flex" ><input class=" w-50 mb-3 mr-2 p-2" placeholder="" [(ngModel)]="empty" ><input class=" w-50 mb-3 ml-2 p-2" placeholder="Province" [(ngModel)]="password" ></div>
          </div>
          <div class="col-6">
            <div class="w-100"><input class=" w-100 mb-3 p-2" placeholder="Last Name" [(ngModel)]="lastName" ></div>
            <div class="w-100"><input class=" w-100 mb-3 p-2" placeholder="Unit/Suite" [(ngModel)]="unitSuite" ></div>
            <div class="d-flex" ><input class=" w-50 mb-3 mr-2 p-2" placeholder="Postal Code" [(ngModel)]="postalCode" ><input class=" w-50 mb-3 ml-2 p-2" placeholder="Country" [(ngModel)]="password" ></div>
          </div>
          <div class="col d-flex">
            <div class="d-flex align-items-md-baseline"><input [(ngModel)]="aggreed2" id="terms_aggrement" type="checkbox" ><label class="step1-heading aggrlabelwidth " for="terms_aggrement"> I agree the terms and conditions of sampleroo and i am of the age 18 and older</label></div>
            <app-button class="ml-auto" [disabled]=" ! (firstName && lastName && address && aggreed2 ) " [text]="'Next Step'" (click)="gotoStep(currentStep+1)" ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


