:root {
    --blue: #583af0;
    --white: #ffffff;
    --background-grey: #ececec;
    --grey: #707070;
}

.cursor-pointer {
    cursor: pointer;
}
  
* {
    outline: none;
}
  

/* index.html */
.header-right-text {
    color: var(--blue);
}
  
.logo-text {
    font-size: 22px;
    color: var(--grey);
}
  
/* footer.html */
.footer-background {
    background: var(--background-grey);
}

.subscribe-input {
    border: none !important;
    border-radius: 3px;
    font-size: 12px;
  }
  
::placeholder {
    color: var(--blue);
    opacity: 0.5; /* Firefox */
}

.footer-fonts {
    font-size: 12px;
}
  
/* Button */
.button-style {
    background: var(--blue);
    color: var(--white);
    font-size: 12px;
    border-radius: 3px;
  }
  
.btn-disabled {
    background: var(--grey);
    cursor: not-allowed;
}
  