
<div>
  <div class="font-weight-bold pb-3">Sampleroo</div>
  <div class="row footer-fonts">
    <div class="col-4">
      <div class="pb-2">About</div>
      <div class="pb-2">Sitemap</div>
      <div class="pb-2">Privacy</div>
      <div class="pb-2">Events</div>
    </div>
    <div class="col-8">
      <div class="pb-2">Terms</div>
      <div class="pb-2">Contest Terms & Condition</div>
      <div class="pb-2">Trademark & Copyright Policy</div>
      <div class="pb-2">FAQ</div>
    </div>

  </div>
</div>
